.title {
  font-family: "valorant";
  src: url("valorant/valorant bold.ttf");
  font-family: "valorant";
  text-align: center;
  color: rgb(255, 255, 255);
  animation-delay: 1000000s;
  animation: 5s infinite;
}
#Bestseller {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}
#ROG {
  padding: 5px;
  font-family: "valorant";
  text-align: center;
  color: white;
}
.tengah {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.items {
  display: flex;
  justify-content: center;
}
.item {
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 80px 80px 80px;
  text-align: center;
}
h3,
p {
  text-align: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
  text-align: center;
}

td,
th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #000000;
}
.Table {
  color: #dddddd;
  text-align: center;
  width: 100%;
}
#Where {
  font-family: "valorant";
  color: white;
  text-align: center;
}

body {
  background-image: url("Images/XIXI.jpg");
  background-size: cover;
}

/* Section Cover */
h1 {
  text-align: center;
  padding: 15px;
  color: rgb(255, 255, 255);
  font-family: "valorant";
  src: url("valorant/valorant bold.ttf");
  font-family: "valorant";
  font-size: 60px;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  .items {
    flex-direction: column;
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 4%;
  }

  .item {
    margin: 10px;
    width: 98%;
    height: 95%;
    justify-content: center;
    /* margin-right: 5px; */
    /* display: grid; */
  }

  table,
  th,
  td {
    width: 100%;
  }
  .IMG {
    width: 140px;
    height: 110px;
  }
  #Omen {
    width: 140px;
    height: 110px;
  }
  #Omencard {
    width: 98%;
    height: 90%;
    margin-left: 50%;
    margin: 10px;
    justify-content: center;
  }
  .Hero {
    width: 70%;
    height: 70%;
  }
  .Table {
    width: 100px;
    font-size: 14px;
  }
}
